.dates {
    @apply flex items-center gap-[40px] backdrop-blur bg-[rgb(231,229,229,0.6)] dark:bg-[rgba(26,26,26,0.6)] px-[20px] py-[10px] rounded-[10px]
    max-w-[650px] w-full;

    @media (max-width: 1000px) {
        @apply flex-col gap-[5px];
    }

        .days {
            @apply text-center;

            @media (max-width: 1000px) {
                @apply flex items-center justify-center gap-[20px];
            }

            h2 {
                @apply text-[#292929] text-[40px] font-bold leading-[40px] font-['Ubuntu'] dark:text-white;

                @media (max-width: 1000px) {
                    font-size: clamp(1.875rem, calc(1.581rem + 1.47vw), 2.5rem);
                }
            }
           
            span {
                @apply text-zinc-700 dark:text-zinc-400 text-base font-['Ubuntu'];

                    &:first-child {
                        @apply font-bold uppercase;
                    }
            }

        }

        .text {
            h1 {
                @apply flex gap-[5px] justify-center capitalize text-[#292929] text-[40px] leading-[120%] font-bold font-['Ubuntu'] dark:text-white;

                @media (max-width: 1000px) {
                    font-size: clamp(1.25rem, calc(0.662rem + 2.94vw), 2.5rem);
                    text-align: center;
                }
            }

            p {
                @apply text-zinc-700 dark:text-zinc-400 text-xl font-bold font-['Inter'];

                @media (max-width: 1000px) {
                    font-size: clamp(0.875rem, calc(0.699rem + 0.88vw), 1.25rem);
                    text-align: center;
                }
            }
        }

        .skeleton__day {
            width: clamp(6.25rem, calc(4.567rem + 7.69vw), 9.375rem) !important;
            height: clamp(1.563rem, calc(1.268rem + 1.47vw), 2.188rem) !important;
        }
        

        .text .big {
            @apply text-[35px];
        }

}